.centered-flexbox {
  display:flex;
  justify-content: center;
  align-items: center;
}

.translate-150 {
  transform: translate(0px, -150px);
}


.title {
  text-shadow: 3px 2px 1px $green;
  margin-bottom: 30px;
}

.section {
  padding-top: 50px;
}

@media (min-width: 100px) and (max-width: 767px) {
  .translate-150 {
    transform: none;
  }

  #contact {
    margin-bottom: 50px;
  }
}
