<div class="container">
  <div class="project-show-gallery">
    <h2 class="title"><%= project.name %></h2>
    <div class="gallery-grid">
      <% project.photos.includes(:blob).each do |photo| %>
        <div class="gallery-item">
          <%= cl_image_tag photo.key, height: 370, crop: :fit, class: 'thumbnail', 'data-toggle'=> 'modal', 'data-target' => "#photo-#{photo.key}" %>
          <!-- Modal -->
          <div class="modal fade" id="photo-<%= photo.key %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                  <%= cl_image_tag photo.key, class: 'illustration' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>