<div class="container">
  <div class="intro">
    <div class="intro-left simple-flexbox">
      <div>
        <h1>renodor</h1>
        <h2>Digital Marketing Specialist & Fullstack Web Developer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, modi!</p>

      </div>
    </div>
    <div class="intro-right">
      <%= image_tag("renodor-avatar.png") %>
    </div>
  </div>


  <div class="section" id="services">
    <div class="service-cards simple-flexbox">
      <div class="service">
        <i class="fas fa-code"></i><br><p>Web<br>Development</p>
      </div>
      <div class="service">
        <i class="fas fa-chart-bar"></i><br><p>Digital<br>Marketing</p>
      </div>
      <div class="service">
        <i class="fas fa-pencil-alt"></i><br><p>Graphic<br>Design</p>
      </div>
    </div>
  </div>
  <div class="section" id="works">
    <div class="project-cards">
      <% @projects.reverse.each do |project| %>
          <div class="project-card">
            <h3><%= project.name %></h3>
            <%= image_tag(project.id.to_s) %>
          </div>
      <% end %>
    </div>
  </div>

</div>

