<div class="container">
  <div class="intro">
    <div class="intro-left">
      <h1>renodor</h1>
    </div>
    <div class="intro-right">
      <h2>Digital Marketing Specialist & Fullstack Web Developer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, modi!</p>
    </div>
  </div>


  <div class="section" id="#work">
    <div class="project-cards">
      <div class="project-column odd">
        <% @odd_projects.reverse.each do |project| %>
            <div class="project-card">
              <h3><%= project.name %></h3>
              <%= cl_image_tag project.cover_photo.key, crop: :fill  %>
            </div>
        <% end %>
      </div>

      <div class="project-column even">
        <% @even_projects.reverse.each do |project| %>
            <div class="project-card">
              <h3><%= project.name %></h3>
              <%= cl_image_tag project.cover_photo.key, width: 400, height: 300, crop: :fill  %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
