<div class="container">
  <div class="intro">
    <div class="intro-left">
      <h1>renodor</h1>
    </div>
    <div class="intro-right">
      <h2>Digital Marketing Specialist & Fullstack Web Developer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, modi!</p>
    </div>
  </div>


  <div class="section" id="work">
    <div class="project-cards">
      <% @projects.reverse.each do |project| %>
          <div class="project-card">
            <h3><%= project.name %></h3>
            <%= cl_image_tag project.cover_photo.key, crop: :fill, width: 600 %>
          </div>
      <% end %>
  </div>

</div>
