<div class="mt-5 flex flex-col items-center">
  <div class="w-full sm:w-1/2">
    <h2 class="text-3xl mb-3">Log in</h2>

    <%= form_with url: new_user_session_path, class: "flex flex-col gap-3" do |f| %>
      <div>
        <%=
          f.text_field "user[email]",
          required: true,
          autofocus: true,
          placeholder: "Email",
          input_html: { autocomplete: "email" },
          class: "w-full border border-dark-gray border-2 rounded-md focus:shadow-flashy-dark transition duration-250 focus:border-dark-gray focus:ring-0"
        %>
      </div>
      <div>
        <%=
          f.password_field "user[password]",
          required: true,
          placeholder: "Password",
          input_html: { autocomplete: "current-password" },
          class: "w-full border border-dark-gray border-2 rounded-md focus:shadow-flashy-dark transition duration-250 focus:border-dark-gray focus:ring-0"
        %>
      </div>
      <div>
        <%= f.submit "LOG IN", class: "w-full bg-flashy-green py-2 px-6 rounded-md cursor-pointer font-bold hover:shadow-flashy-dark transition duration-250" %>
      </div>
    <% end %>
  </div>
</div>
