.alert {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 1500px;
  text-align:center;
  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;
  border-right: none;
  border-left: none;
  background-color: white;
  box-shadow: 2px 2px 2px $green;
  color: $gray;
  p {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.close,
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 1;
}

.close:hover span {
  color: $green;
}

.alert-dismissible {
  padding-right: 20px;
  .close {
    position: relative;
  }
}

@media (min-width: 1500px) {
  .alert {
    margin-left: -725px;
    left: 50%;
    border: 2px solid $gray;
  }
}
