.ren-btn{
  width: 100%;
  background-color: $green;
  color: $gray;
  border: none;
  padding: 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: box-shadow 250ms ease;
  &:hover {
    box-shadow: 6px 4px 1px $gray;
  }
  &:focus {
    outline-color: transparent;
  }
}
