.project-show-gallery {

  margin-top: 40px;
  margin-bottom: 40px;
}


.project-show-gallery {
  .thumbnail {
    max-height: 400px;
    max-width: 100%;
  }
  .modal-dialog {
    max-width: none;
  }
  .modal {
    display: none!important;
  }
  .modal.show {
    display:flex!important;
  }
  .illustration {
    max-width: 100%;
    max-height: 1000px;
  }
}

