.project-show-gallery {

  margin-top: 40px;
  margin-bottom: 40px;
}


.project-show-gallery {
  .thumbnail {
    max-height: 370px;
    max-width: 100%;
  }
  .modal-dialog {
    max-width: none;
  }
  .modal {
    display: none!important;
  }
  .modal.show {
    display:flex!important;
    padding: 0 10px;
  }
  .modal-content {
    border: 1px solid white;
    margin: 3rem 0;
  }
  .modal-body {
    padding: 0px;
  }
  .illustration {
    max-width: 100%;
    max-height: 1000px;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  .gallery-item {
    text-align: center;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

