.intro {
  display:flex;
  justify-content: space-around;
  .intro-left,
  .intro-right {
    flex-basis: 50%;
  }
}

.intro-right {
  display: flex;
  flex-direction: column;
  img {
    margin: 0 auto;
  }
  h2 {
    margin-top: -40px;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .intro {
    margin-top: 10px;
    flex-direction: column;
  }
}
