.project-cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 190px;
}

.project-card {
  // box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
  border: 2px solid #323232;
  background-color: white;
  overflow: hidden;
  max-height: 500px;
  border-radius: 5px;
  transition: all 250ms ease;
  h3 {
    padding: 40px;
    // color: #737373;
    color: #323232;
    transition: transform 250ms ease;

  }
  img {
    margin-top: 50px;
    transform: translate(-6%) rotate(-10deg);
    transition: all 250ms ease;
  }
  i {
    color: transparent;
    margin-left: 5px;
    font-size: 20px;
    transition: transform 350ms ease;
  }
}

.project-card:hover {
  // background-color: #f7f7f7;
  background-color: #323232;
  box-shadow: 6px 4px 1px $green;
  h3 {
    color: white;
    transform: translate(5%);
  }
  img {
    transform: translate(-6%, -10%) rotate(-10deg);
  }
  i {
    color: white;
    transform: translate(50%);
  }
}


.project-card:nth-of-type(odd) {
  margin-top: -150px;
}

.project-card:nth-of-type(even) {
  margin-bottom: -150px;
}

#projects {
  margin-top: 50px;
  padding-top: 200px;
  padding-bottom: 50px;
}

@media (min-width: 100px) and (max-width: 767px) {
  .project-cards {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .project-card {
    max-height: 400px;
  }

  .project-card:nth-of-type(odd),
  .project-card:nth-of-type(even) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #projects {
    padding-top:50px;
    padding-bottom: 0;
  }
}

