#projects {
  margin-top: 50px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.project-cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 190px;
}

.project-card {
  border: 2px solid #323232;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  transition: all 250ms ease;
  position: relative;
  h3 {
    color: #323232;
    flex-grow: 1;
    transition: padding 250ms ease;
    margin-bottom: 0;
    max-height: 33px;
  }
  img {
    width: 116%;
    margin-top: 20px;
    transform: translate(-6%, 20%) rotate(-10deg);
    transition: all 250ms ease;
  }
  i {
    color: transparent;
    transform: translate(0, -100%);
    padding-left: 10px;
    font-size: 20px;
    transition: transform 350ms ease;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.project-card:hover {
  background-color: #323232;
  box-shadow: 6px 4px 1px $green;
  h3 {
    color: white;
    padding-left: 15px;
  }
  img {
    transform: translate(-6%, 10%) rotate(-10deg);
  }
  i {
    color: white;
    transform: translate(0, 0);
  }
}


.project-card:nth-of-type(odd) {
  margin-top: -150px;
}

.project-card:nth-of-type(even) {
  margin-bottom: -150px;
}

.project-header {
  padding: 40px 35px 20px 20px;
  display:flex;
  align-items: center;
}

@media (min-width: 100px) and (max-width: 767px) {
  .project-cards {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .project-card {
    box-shadow: 6px 4px 1px #61e786;
    h3 {
      padding-left: 15px;
    }
    img {
      border-top: 2px solid $gray;
      transform: translate(-6%, 10%) rotate(-10deg);
    }
    i {
      color: $gray;
      transform: translate(0, 0);
    }
  }

  .project-card:hover {
    background-color: white;
    box-shadow: none;
    h3 {
      color: $gray;
      padding-left: 15px;
    }
    img {
      transform: translate(-6%, 10%) rotate(-10deg);
    }
    i {
      color: $gray;
      transform: translate(0, 0);
    }
  }


  .project-card:nth-of-type(odd),
  .project-card:nth-of-type(even) {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #projects {
    padding-top:50px;
    padding-bottom: 0;
  }
}
