.service {
  background-color:white;
  flex-basis: 25%;
  text-align: center;
  padding: 30px;
  margin: 0px 10px;
  border: 2px solid #323232;
  box-shadow: 6px 4px 1px #61e786;
  // max-width: 170px;
  border-radius: 5px;
  p {
    margin-bottom: 0px;
  }
  i {
    color: #61e786;
    font-size: 30px;
    margin-bottom: 10px;
  }
}


#services {
  margin-top: 50px;
  padding-top:50px;
}

@media (min-width: 100px) and (max-width: 767px) {
  .service-cards {
    flex-direction: column;
  }

  .service {
    margin: 10px;
  }
  #services {
    margin-top: 0px;
  }
}
