.social {
  display: flex;
  justify-content: flex-start;
  align-item: center;
  margin: 30px 0;
  i {
    transition: color 150ms ease;
    font-size: 30px;
    margin: 0 10px;
  }
}

.social i:hover {
  color: $green;
}
